<div class="project-card" (click)="onSelectProject()">
    <div class="card-header">
        <h2>Project Id: {{project.id}}</h2>
        <h3>Project name: {{project.name}}</h3>
        <span class="badge" [ngClass]="project.status">Status: {{project.status}}</span>
    </div>
    <p class="description">{{project.description}}</p>
    <!--affichage des taches du projet-->
    <div class="tasks-section" *ngIf="project.tasks && project.tasks.length > 0">
        <h4>Taches ({{project.tasks.length}}) :</h4>
        <ul>
            <li *ngFor="let task of project.tasks">
                <span>{{task.id}}</span><br>
                <span>{{task.title}}</span><br>
                <span>{{task.priority}}</span><br>
                <span>{{task.status}}</span>
            </li>
        </ul>
    </div>
    <div class="task-section" *ngIf="!project.tasks || project.tasks.length === 0">
        <p class="no-tasks">Aucune tache</p>
    </div>
    <div class="card-footer">
        <button class="select-btn" (click)="$event.stopPropagation(); onSelectProject()">
            Sélectionner
        </button>
    </div>
</div>
